@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap');

.App {
  text-align: center;
  background-color: #7962f8;
  background-image: url('../../img/fondos/Fondo.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Spartan';
  padding-left: 10%;
  padding-right: 10%;
}

.MuiAppBar-colorPrimary {
  background-color: #3f51b500 !important;
}

.NavBar{
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.Button-Menu{
  font-family: 'Spartan'!important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 20px !important;
  float: right;
}

.Button-Primary-Outlined{
  border-radius: 20px !important;
  border-color: #eb5757 !important;
  color: #eb5757 !important;
  text-transform: none !important;
  font-family: 'Spartan' !important;
}

.Button-Primary{
  border-radius: 20px !important;
  background-color: #eb5757 !important;
  text-transform: none !important;
  font-family: 'Spartan' !important;
  font-weight: 700 !important;
}

.Button-Default{
  color: white !important;
  text-transform: none !important;
  font-family: 'Spartan' !important;
}

.Text-Left{
  text-align: left;
}

.Toolbar-Header{
  margin-left:5px;
  width:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}